/*Banner*/
.bg-tempestad{
    background-image: url(../img/La_tempestad.jpg);
    height: 840px;
    width: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.bg-lavoz{
    background-image: url(../img/La_voz_del_amo.jpg);
    height: 840px;
    width: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.bg-bañistas{
    background-image: url(../img/Bañistas.jpg);
    height: 840px;
    width: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}


.section1{
    background-color: #f9f9f9;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.mi_especialidad_1{
    background-image: url(../img/Quien_descubrio_a_quien.jpg);
    height: 700px;
    width: auto;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
}

.mi_especialidad_2{
    background-image: url(../img/Venecia_como_parodia.jpg);
    height: 700px;
    width: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.mi_especialidad_3{
    background-image: url(../img/La_mitologia_en_el_viaje.jpg);
    height: 700px;
    width: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.textoHover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.Galleria:hover .textoHover{
    opacity: 1;
}

.Biografia{
    background-image: url(../img/JoseGarciaChibarro.jpg);
    height: 350px;
    width: auto;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
}



